/* NAVBAR */

html {
  font-size: 18px;
}

#navLink:hover {
  color: #167D7F;
}

.navbar { 
   display: flex;
   flex-flow: row;
   align-items: center;

   width: 100vw;
   position: relative;
   height: 9vw;

   justify-content: space-between;
  }

 .navbar img {  
  width: 35%;
  height: 95%;
  padding-left: 7%;
 }

 .navbarLinks {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;

  padding-left: 15%;
 }

 #navLink {
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   white-space: nowrap;

   font-family: 'Roboto';
   font-style: normal;
   font-size: 1.2vw;
   line-height: 38px;
   text-decoration: none;
   padding-right: 3vw;

   text-align: center;

   color: #29A0B1;
  }


#startStaking {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: center;
  margin-right: 40%;
  white-space: nowrap;

  font-family: 'Roboto';
  font-style: normal;
  font-size: 1.2vw;
  text-decoration: none;
  text-align: center;
  padding-left: 6%;
  padding-right: 6%;

  background: #ED99A0;
  border-radius: 10px;  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

  height: 3vw;

  color: white;
}

#startStaking:hover {
  background-color: #167D7F;
}


 
 